@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Space+Grotesk:wght@405;500;600;700&family=JetBrains+Mono:wght@400;500;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-space: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  /* Custom Color Tolerances to ensure smooth light/dark interfaces transition */
  --color-slate-850: #1e293b;
  --color-slate-450: #64748b;
  --color-slate-350: #cbd5e1;
  --color-slate-250: #e2e8f0;
}
